.postBody {
  :global(.rehype-code-title) {
    @apply -mb-3 rounded-tl rounded-tr bg-slate-600 px-4 pt-1 pb-2 font-mono text-sm text-gray-200;
  }

  div:global(.rehype-code-title) + pre {
    @apply rounded-tl-none rounded-tr-none;
  }

  img {
    @apply ml-auto mr-auto;
  }

  blockquote {
    @apply not-italic;
    p:first-of-type::before {
      content: none;
    }
    p:last-of-type::after {
      content: none;
    }
  }
}

.post {
  h1,
  h2,
  p,
  i,
  a,
  .first-letter,
  .authorName a {
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
    font-family: 'Lato', sans-serif;
  }
  h1 {
    @apply text-3xl mt-8 border-b-[1px] border-gray-200;
  }

  h2 {
    @apply text-2xl mt-6;
  }
  h3 {
    @apply text-xl mt-4;
  }
  h4 {
    @apply text-lg mt-4;
  }
  h5 {
    @apply text-lg mt-2;
  }

  p,
  i,
  a {
    @apply text-base mt-5 leading-7 tracking-normal;
    font-family: 'Lato', sans-serif;
    // letter-spacing: -0.03px;
    // line-height: 1.58;
  }

  a {
    text-decoration: underline;
  }

  blockquote {
    @apply border-l-4 border-gray-200 text-lg pl-4;

    font-family: 'Playfair Display', serif;
    // font-size: 30px;
    font-style: italic;
    // letter-spacing: -0.36px;
    // line-height: 44.4px;
    overflow-wrap: break-word;
    // margin: 55px 0 33px 0;
    /* text-align: center; */
  }
}
